section a {
  color: $theme-color-main;
  text-decoration: underline;
}

.container-about {
  margin-top: $spacer;
}

.about {
  font-size: 120%;
}

.projects img {
  max-width: 100%;
}

.project-links {
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.project-link {
  display: inline-block;
  margin-right: .75rem;
}

.project-tech {
  font-size: 2rem;
  text-align: center;
}

.project-tech img {
  max-height: 1.9rem;
  padding-top: .1rem;
  vertical-align: baseline;
}

.project {
  margin-top: 1rem;
}

.project h2 a {
  text-decoration: none;
  color: inherit;
}

.skills {
  text-align: center;
}

.skills h2 {
  font-size: 1.5rem;
  color: darken($theme-color-main-contrast, 50%);
  font-weight: 100;
}

.skills p {
  font-size: 3.5rem;
}

.skills ul {
  list-style: none;
  padding: 0;
  font-weight: bold;
}

.skills img {
  max-height: 3.5rem;
  vertical-align: baseline;
}
