// Block: container-contacts

.container-contacts {
  margin-top: $spacer;
  padding-top: $spacer;
  min-height: $spacer * 15;
  background: $theme-color-main;
  color: darken($theme-color-main, 50%);

  // Element: container-contacts-phone
  // Element: container-contacts-email

  &-phone,
  &-email {
    font-size: 1.8rem;
    padding: $spacer;
    border-radius: $border-radius;
    background-color: $theme-color-main;
    transition: background-color 0.3s ease;

    @include media-breakpoint-up(md) {
      font-size: 1.5rem;
    }

    &:hover {
      background-color: $theme-color-main-contrast;

      a {
        color: darken($theme-color-main, 50%);
      }
    }
  }

  & .col-half-offset{
    margin-left: 4%
  }
  & .list-inline-item {
    padding: 0;
  }

  & .btn {
    width: 100%;
    font-size: 1.3rem;
    color: $theme-color-main-contrast;
    border-color: $theme-color-main-contrast;
    border-radius: $border-radius;
    transition: background-color 0.3s ease;

    @include media-breakpoint-up(md) {
      font-size: 1.5rem;
    }

    &:hover {
      background-color: $theme-color-main-contrast;
      color: $theme-color-main;
    }
  }
}


// Block: navbar

.navbar {

  // Element: nav-item

  & .nav-item {
    cursor: pointer;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: $border-radius-sm;
    background-color: $theme-color-main;
    transition: background-color 0.3s ease;

    &:hover {
      background: $theme-color-main-contrast;

      & > .nav-link {
        color: $theme-color-main;
      }
    }

    .nav-link {
      color: $theme-color-main-contrast;

      @include media-breakpoint-up(lg) {
        font-size: 1.5rem;
        line-height: 3rem;
      }
    }

  }

}
