<section class="container container-about about">
    <div class="row">
        <div class="col-md-12">
            <h1>About</h1>
        </div>
        <div class="col-sm-12">
            <p>
                <strong>Hello!</strong> I'm a software engineer with a focus on full-stack web development. I like to delve deep, solve tough problems, and learn new solutions from first principles. Please feel free to <a href="mailto:rmcquilton@gmail.com" target="_blank">get in touch</a> if you think we'd work well together.
            </p>
            <p>
              Check out the in-depth case study for my latest project, <strong>Plinko.js</strong>, <a href="http://plinkojs.com/about">here</a>.
            </p>
        </div>
    </div>

    <hr />
</section>
