<section class="container container-about projects">
  <div class="row">
    <div class="col-md-12">
      <h1>Projects</h1>

      <div class="row project">
        <div class="col-sm-12 col-md-6 project-desc">
          <h2>Capstone</h2>
            <div class="project-links">
              <span class="project-link">
                <i class="fa fa-laptop" aria-hidden="true"></i>
                <a href="#" target="_blank">Demo</a>
              </span>
              <span class="project-link">
                <i class="fa fa-quote-left" aria-hidden="true"></i>
                <a href="#" target="_blank">Blog</a>
              </span>
              <span class="project-link">
                <i class="fa fa-code" aria-hidden="true"></i>
                <a href="#" target="_blank">Github</a>
              </span>
            </div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce est diam, porttitor et arcu at, vehicula
              sodales libero. Sed fermentum luctus dapibus. Proin lobortis ipsum eu lobortis luctus.
            </p>
            <div class="project-tech">
              <i class="devicon-rails-plain colored"></i>
            </div>
          </div>
        <div class="col-sm-12 col-md-6 project-img">
            <img src="http://via.placeholder.com/350x225/e5f3f9">
        </div>
      </div>

      <hr />

      <div class="row project">
        <div class="col-sm-12 col-md-6 project-desc">
          <h2>Trello</h2>
            <div class="project-links">
              <span class="project-link">
                <i class="fa fa-laptop" aria-hidden="true"></i>
                <a href="#" target="_blank">Demo</a>
              </span>
              <span class="project-link">
                <i class="fa fa-code" aria-hidden="true"></i>
                <a href="#" target="_blank">Github</a>
              </span>
            </div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce est diam, porttitor et arcu at, vehicula
              sodales libero. Sed fermentum luctus dapibus. Proin lobortis ipsum eu lobortis luctus.
            </p>
            <div class="project-tech">
              <i class="devicon-rails-plain colored"></i>
            </div>
          </div>
        <div class="col-sm-12 col-md-6 project-img">
            <img src="http://via.placeholder.com/350x225/e5f3f9">
        </div>
      </div>

      <hr />

      <div class="row project">
        <div class="col-sm-12 col-md-6 project-desc">
          <h2>Postit</h2>
            <div class="project-links">
              <span class="project-link">
                <i class="fa fa-laptop" aria-hidden="true"></i>
                <a href="#" target="_blank">Demo</a>
              </span>
              <span class="project-link">
                <i class="fa fa-code" aria-hidden="true"></i>
                <a href="#" target="_blank">Github</a>
              </span>
            </div>
            <p>
              A Reddit clone built on Rails and backed by PostgreSQL. Postit lets users register, share posts, add comments, create categories, and vote on content.
            </p>
            <div class="project-tech">
              <i class="devicon-ruby-plain colored" title="Ruby"></i>
              <i class="devicon-postgresql-plain colored" title="PostgreSQL"></i>
              <i class="devicon-rails-plain colored" title="Rails"></i>
            </div>
          </div>
        <div class="col-sm-12 col-md-6 project-img">
            <img src="http://via.placeholder.com/350x225/e5f3f9">
        </div>
      </div>

      <hr />
      
    </div>
  </div>
</section>
