<section class="container container-about tech">
  <div class="row">
    <div class="col-md-12">
      <h1>Tech</h1>
    </div>
    <div class="col-sm-12 col-md-4">
      <h2>Back End</h2>
        <p>
          <i class="devicon-ruby-plain-wordmark colored" title="Ruby"></i>
          <i class="devicon-rails-plain-wordmark colored" title="Rails"></i>
          <i class="devicon-nodejs-plain-wordmark colored" title="Node"></i>
          <i class="devicon-postgresql-plain-wordmark colored" title="PostgreSQL"></i>
        </p>
    </div>
    <div class="col-sm-12 col-md-4">
      <h2>Front End</h2>
      <p>
        <i class="devicon-javascript-plain colored" title="JavaScript"></i>
        <i class="devicon-react-original-wordmark colored" title="React"></i>
        <img src="./web-dist/images/redux-logo-title-dark.png" alt="Redux" />
        <i class="devicon-jquery-plain-wordmark colored" title="jQuery"></i>
        <i class="devicon-html5-plain-wordmark colored" title="HTML"></i>
        <i class="devicon-css3-plain-wordmark colored" title="CSS"></i>
      </p>
    </div>
    <div class="col-sm-12 col-md-4">
      <h2>Other</h2>
      <p>
        <i class="devicon-git-plain-wordmark colored" title="Git"></i>
        <i class="devicon-github-plain-wordmark colored" title="GitHub"></i>
        <i class="devicon-heroku-plain-wordmark colored" title="Heroku"></i>
      </p>
    </div>
  </div>
</section>
